/* ............appunti............. */
/* colore sfondo blu rgb 13.51.90 o #0D325A */
/* colore verde pulsanti #7fb802 */
/* colore arancio link hover navbar #f8b71c */
/* _______________________________ RESET _______________________________ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* ____________________________ CUSTOM CLASSES ____________________________ */
.row{
  width: 100vw;
}
.blue_row{
  color: white;
  background-color: #0D325A;
}
.white_row{
  color: #4a4a4a;
  background-color: white;
}
.uppercase_link{
  text-transform: uppercase;
  text-decoration: none;
  margin: 12px;
  line-height: 72px
}
.white_color{
  color: white;
}
.gray_color{
  color: silver;
}
.button{
    text-transform: uppercase;
    text-decoration: none;
    border: #4e8cb6 solid 1px;
    color: white;
    font-size: 11px;
    padding: 8px 25px;
    opacity: .9;
    border-radius: 5px;
    font-weight: 700;
    margin: 0 5px;
}
.button_green{
    padding: 8px 10px;
    background-color: #7fb802;
}
/* _______________________________ BODY _______________________________ */
body{
  font-family: Arial, sans-serif;
  font-size: 10px;
}
h1{font-size: 3rem;}
h2{font-size: 2rem;
}
h3{}
h4{}
h5{}
p{font-size: 1.2rem}
/* _______________________________ NAVBAR _______________________________ */
#logo{
  float: left;
  margin: 1% 2% 1% 10%;
}
#menu_links{
  float: left;
  margin-left: 3%;
  font-weight: bold;
}
#menu_links ul li{
  display: inline-block;
}
#menu_links ul li a:hover{
  color: #f8b71c;
}
#menu_buttons{
  float: right;
  margin-right: 3%;
  font-weight: bold
}
/* _______________________________ section1 _______________________________ */
#section1>.text_box{
  /* margin: 20% 0 20% 14%; */
  width: 50%;
  float: left;
  text-align: center;
}
#section1>.text_box>h1{
  margin-top: 20%;
}
#section1>.img_box{
  width: 50%;
  float: right;
}
#section1 img{
  width: 100%;

}
/* _______________________________ section2 _______________________________ */
/* _______________________________ section3 _______________________________ */
/* _______________________________ section4 _______________________________ */
/* _______________________________ section5 _______________________________ */
/* _______________________________ section6 _______________________________ */
/* _______________________________ section7 _______________________________ */
/* _______________________________ section8 _______________________________ */
/* _______________________________ section9 _______________________________ */
/* _______________________________ section10 _______________________________ */
