/* _______________________________ RESET _______________________________ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* ____________________________ CUSTOM CLASSES ____________________________ */
.row{
  width: 100vw;
}
.blue_row{
  color: white;
  background-color: #0D325A;
}
.white_row{
  color: #4a4a4a;
  background-color: white;
}
.gray_row{
  color: #4a4a4a;
  background-color: whitesmoke;
}
.uppercase_link{
  text-transform: uppercase;
  text-decoration: none;
  margin: 12px;
  line-height: 72px
}
.white_color{
  color: white;
}
.gray_color{
  color: silver;
}
.button{
    text-transform: uppercase;
    text-decoration: none;
    border: #4e8cb6 solid 1px;
    color: white;
    font-size: 11px;
    padding: 8px 25px;
    opacity: .9;
    border-radius: 5px;
    font-weight: 700;
    margin: 0 5px;
}
.button_green{
    padding: 8px 10px;
    background-color: #7fb802;
}
.text_box{
  width: 45%;
  text-align: center;
  float: left;
  margin-left: 5%;
}
h1, h2{
  margin-top: 20%;
}
.img_box{
  width: 50%;
  float: right;
}
section>div>img{
  width: 100%;
}
hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);}
/* _______________________________ BODY _______________________________ */
body{
  font-family: Arial, sans-serif;
  font-size: 10px;
}
h1{font-size: 3rem;}
h2{font-size: 2rem;}
h3{
  font-size: 1.8rem;
  padding-top: 5%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  color: rgb(55, 58, 60);
}
h4{
  font-size: 1.6rem;
  text-align: center;
}
h5{}
h6{
  font-size: 1.7rem;
  text-align: center;
  color: silver;
}
p{font-size: 1.2rem}
section p {
  color: silver;
  margin-top: 3%;
  text-align: center;
}
/* _______________________________ NAVBAR _______________________________ */
#logo{
  float: left;
  margin: 1% 2% 1% 10%;
}
#menu_links{
  float: left;
  margin-left: 3%;
  font-weight: bold;
}
#menu_links ul li{
  display: inline-block;
}
#menu_links ul li a:hover{
  color: #f8b71c;
}
#menu_buttons{
  float: right;
  margin-right: 3%;
  font-weight: bold
}
/* _______________________________ section1 _______________________________ */
/* _______________________________ section2 _______________________________ */
#section2>.img_box>img{
  width: 50%;
  margin: 10% 25%;
}
/* _______________________________ section3 _______________________________ */
#section3>h2{
  margin: 5% 0 3%;
  text-align: center;
}
.card{
  width: 23%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border-radius: 8px;
  margin: 2% 0;
  border: 1px solid #e8e8e8;
  height: 450px;
}
.left_card{
  margin-left: 23%;
  margin-right: 3%;
  float: left;
}
.right_card{
  margin-left: 3%;
  margin-right: 23%;
  float: right;
}
.card img{
  text-align: center;
  width: 50%;
  height: 160px;
  position: relative;
  vertical-align: middle;
  display: block;
  margin: 0 auto;
}
.card p{
  padding: 5%;
}
.card1{ background-color: lightblue;}
.card2{ background-color: yellow;}
.card3{ background-color: thistle;}
.card4{ background-color: darkseagreen;}
.card5_img{ background-color: seagreen;}
#card5{
  width: 54%;
  height: 160px;
  display: block;
  position: relative;
  margin: 2% auto;
}
#card5 h3{
  padding-top: 1%;
}
#card5 p{
  padding: 0 5%;
}
.card5_img{
  float: left;
  width: 30%;
}
.card5_text{
  float: right;
  width: 70%;
}

/* _______________________________ section4 _______________________________ */
#section4>.img_box>img{
  width: 75%;
  margin: 10%;
}
/* _______________________________ section5 _______________________________ */
#section5{
  padding: 2%;
}
#section5 img{
  width: 60px;
  display: block;
  position: relative;
  margin: 0 auto;
}
#section5 p{
  margin-top: 1%;
}

/* _______________________________ section6 _______________________________ */
#section6>.img_box>img{
  width: 75%;
  margin: 10%;
}
/* _______________________________ section7 _______________________________ */
#section7>.img_box>img{
  width: 75%;
  margin: 10%;
}
/* _______________________________ section8 _______________________________ */
.param_box{
  width: 100vw;
  display: block;
  position: relative;
  padding: 0 10%;
}
.param{
  width: 11vw;
  display: block;
  position: relative;
  float: left;
  margin: 5%;
}
.param img{
  width: 45%;
  display: block;
  position: relative;
  margin: 30px auto;
}
.param h4{
  font-size: 1rem;
}
.param p {
  font-size: 0.8rem;
}
#section8 img{
  text-align: center;
}
#section8 h3{
  color:white;
}
/* _______________________________ section9 _______________________________ */
#section9 h3, #section9 input, #section9 .button_green {
  display: block;
  position: relative;
  float: left;
  padding: 1%;
}
#structure{
  margin: 5% 10%;
}
#iam{
  margin: 5% 0 5% 2%;
}
#section9 input{
  margin: 5% 1%;
}
#plain{
  margin: 5% 1%;
}
/* _______________________________ section10 _______________________________ */
